{% extends "layout.html" %} {% block body %}
<h1>Compatibility Check</h1>
<small class="text text-muted"
  >Enter the <b>password</b> for the link that was generated, if compatible, you
  get the url or view/download the file.
</small>
<hr />
<form
  class="form-group"
  action="{% url 'webapp:get_secured_resource' uid %}"
  method="POST"
>
  {% csrf_token %}
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Generated link password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Get Resource</button>
</form>

{% endblock %}
