{% extends "layout.html" %}

{% block body %}
  <h1>Compatibility Check</h1>
  <small class="text text-muted">Enter the password for the link that was generated, if compatible,
    you are redirected to a protected URL or to download the protected file
  </small>
  <form class="form-group" action="{% url 'webapp:getSecuredResourceFile' UID %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Generated link password">
      </div>
      <button class="btn btn-primary" type="submit">Get Resource</button>
  </form>

{% endblock %}
